<H2>Create Journal</H2>
<div class="formDiv">
<form [formGroup]="entryForm" (ngSubmit)="onSubmit()">
    <input formControlName="title" placeholder="title">
    <input formControlName="content" placeholder="content">
    <button type="submit" class="button1">submit</button>
    <p *ngIf="successMessage" style="color: green;"><strong>{{successMessage}}</strong></p>
    <p *ngIf="errorMessage" style="color: red;"><strong>{{errorMessage}}</strong></p>
</form>
<hr>

<h2>Journal List</h2>
<ul *ngIf="journalList.length">
    <li *ngFor="let i of journalList" > 
    <div class="card">
        <div class="container">
            <p>Title: {{i.title}}</p>
            <p>Content: {{i.content}}</p> 
            <p>Date created: {{i.created_at}}</p>
        </div>
    </div>
    </li>
</ul>


