<H2>Create Journal</H2>
<div class="formDiv">
<form [formGroup]="entryForm" (ngSubmit)="onSubmit()">
    <input formControlName="title" placeholder="title">
    <textarea formControlName="content" placeholder="content" style="height: 200px;"></textarea>
    <button type="submit" class="button1">submit</button>
    <p *ngIf="successMessage" style="color: green;"><strong>{{successMessage}}</strong></p>
    <p *ngIf="errorMessage" style="color: red;"><strong>{{errorMessage}}</strong></p>
</form>
<hr>

<h2>Journal List</h2>
<input type="text" [(ngModel)]="searchText" placeholder="Search journals..." />

<label>From:
  <input type="date" [(ngModel)]="fromDate" style="width: 200px;"/>
</label>

<label>To:
  <input type="date" [(ngModel)]="toDate" style="width: 200px;"/>
</label>
<button (click)="clearFilter()">Clear Filter</button>


<ul *ngIf="journalList.length">
    <li *ngFor="let i of filteredList" > 
    <div class="card">
        <div class="container">
            <p>Title: {{i.title}}</p>
            <p class="content-box">Content: {{i.content}}</p> 
            <p>Date created: {{i.created_at | date:'mediumDate'}}</p>
            <button (click)="onDelete(i.id)">Delete</button>
        </div>
    </div>
    </li>
</ul>


<p *ngIf="!filteredList.length">No matching journal found.</p>