<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Angular JWT</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a routerLink="/login">login</a></li>
      <li><a routerLink="/apple">test</a></li>
      <li><a routerLink=" ">home</a></li>
      <li><a href="#" (click)="onLogout()">logout</a></li>
      <!-- <li><button (click)="onLogout()">Logout</button></li> -->
    </ul>
  </div>
</nav>
<hr>
<p *ngIf="responseData">Res: {{responseData}}</p>
<p *ngIf="errorMsg">error: {{errorMsg}}</p>


<hr>
<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium libero quaerat voluptas cumque cum excepturi, dolor temporibus! Delectus qui quasi quas unde velit voluptatem excepturi deserunt. Aperiam consequuntur magni porro!</p>
<router-outlet></router-outlet>