<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Angular JWT</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li *ngIf="!isLoggedIn"><a routerLink="/login">Login</a></li>
      <li><a routerLink="/journal-list">journal list</a></li>
      <li><a routerLink="/add-entry">Entry list</a></li>
      <li *ngIf="isLoggedIn"><a href="#" (click)="onLogout()">logout</a></li>
    </ul>
  </div>
</nav>

<h2 style="color: green;"><p *ngIf="isLoggedIn" >{{responseData}} </p></h2>
<h2><p *ngIf="errorMsg" style="color: red;">{{errorMsg}} <a href="#" (click)="onLogout()">Login again!</a></p></h2>
<h2><p *ngIf="!isLoggedIn" style="color: red;">You are not LoggedIn, Login Required{{errorMsg}}</p></h2>
<hr style="height: 2px; background-color:red; margin-bottom:20px;">
<router-outlet></router-outlet>